@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white font-body min-h-screen text-gray-100;
  text-rendering: optimizeLegibility;
}


p a[href] {
  @apply underline;
}


.fancy-title {
  color: hsl(338.7, 71.4%, 75.3%);
  font-family: "Dokdo";
  font-size: 4.5rem;
  line-height: 0.9;
  text-shadow: 2px 2px 0px hsla(338.7, 71.4%, 75.3%, 0.35);
}



/* Forms
   ----- */

input::placeholder,
textarea::placeholder {
  @apply opacity-100 text-gray-500;
}
