{% extends 'layouts/default.njk' %}
{% from "macros/header.njk" import header with context %}
{% set title = "Team" %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block content %}
<section>
    <div class="px-8 mx-auto max-w-7xl">
        <h1 class="text-2xl mb-20 pt-8 text-neutral-600 dark:text-neutral-100">
            Our Team
        </h1>

        <div class="grid grid-cols-12 gap-6">
            {% for member in team %}
            * {{ member.Name }}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}