{% extends 'layouts/default.njk' %}
{% from "macros/header.njk" import header with context %}
{% set title = "Team" %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block content %}
<section>
    <div class="px-8 mx-auto max-w-7xl">
        <h1 class="text-2xl mb-20 pt-8 text-newneutral-600 dark:text-newneutral-100">
            Our Team
        </h1>

        <div class="grid grid-cols-6 md:grid-cols-12 gap-5 auto-rows-max">
            {% for member in team %}
            <div class="col-span-4 bg-newneutral-700 p-6 rounded-lg flex flex-col items-center gap-4">
                <img 
                    class="h-[132px] w-[132px] bg-newneutral-600 overflow-hidden rounded-full"
                    src="{{ member.avatar.url }}" 
                    width="{{ member.avatar.width / 2}}"
                    height="{{ member.avatar.height / 2}}"
                    alt="{{ member.name }}" 
                    data-page-url="{{ page.url }}" 
                    loading="lazy" 
                    decoding="async" 
                />
                <h3>{{ member.name }}</h3>
                <h4>({{ member.title }})</h4>
                <p>{{ member.about }}</p>
                <ul>
                    <li>{{ member.discordUsername }}</li>
                    <li><a href="{{ member.personalWebsiteUrl }}">{{ member.personalWebsiteUrl }}</a></li>
                    <li><a href="{{ member.twitterProfileUrl }}">{{ member.twitterProfileUrl }}</a></li>
                    <li><a href="{{ member.githubProfileUrl }}">{{ member.githubProfileUrl }}</a></li>
                    <li><a href="{{ member.mastodonProfileUrl }}">{{ member.mastodonProfileUrl }}</a></li>
                    <li><a href="{{ member.blueskyProfileUrl }}">{{ member.blueskyProfileUrl }}</a></li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}