{% from "macros/icons/ExternalLink.njk" import ExternalLink %}
{% from "macros/icons/Hamburger.njk" import Hamburger %}
{% from "macros/fission-logo.njk" import fissionLogo %}

{% macro header() %}
    <div class="w-full flex items-center px-7 py-3 lg:py-4 fixed top-0 z-10 bg-newneutral-100">
        <div class="m-auto w-full max-w-screen-xl flex justify-between items-center">
            <a aria-label="Navigate to home page" href="/" class="block w-[101px] lg:w-[131px] homepage-link">
                {{ fissionLogo() }}
            </a>

            <ul class="hidden font-semibold lg:flex gap-5">
                <li>
                    <a 
                        href="{{ "/team" | relativePath(page) }}" 
                        class="{% if '/team' in page.url %}text-pink-300{% endif %}">
                        Our Team
                    </a>
                </li>
                <li>
                    <a 
                        href="{{ "/blog" | relativePath(page) }}" 
                        class="{% if '/blog' in page.url %}text-pink-300{% endif %}">
                        Blog
                    </a>
                </li>
                <li>
                    <a 
                        href="https://shop.fission.codes" 
                        target="_blank" 
                        class="flex items-center gap-1">
                        Swag {{ ExternalLink() }}
                    </a>
                </li>
                <li>
                    <a 
                        href="https://everywhere.computer" 
                        target="_blank" 
                        class="flex items-center gap-1">
                        Everywhere Computer {{ ExternalLink() }}
                    </a>
                </li>
            </ul>

            <button 
                aria-label="open-menu" 
                name="open-menu" 
                class="open-menu z-20 inline-block lg:hidden text-purple-500">
                {{ Hamburger() }}
            </button>
        </div>
    </div>
{% endmacro %}
