{% from "macros/icons/ArrowRightCircle.njk" import ArrowRightCircle %}

{% macro NewsletterForm() %}
  <section 
    aria-label="newsletter"
    class="mx-auto px-7 pt-[21vw] md:py-[264px] max-w-[45ch] md:max-w-2xl justify-center flex flex-col gap-2">
    <h4 class="text-heading-sm md:text-heading-2xl text-center font-display font-medium">Never Miss a Beat</h4>
    <p class="md:text-lg text-center">
      Sign up for our newsletter to keep a pulse on what we're doing, where we'll be next, and interesting things we've found.
    </p>
    <form class="newsletter-form w-full relative mt-1 xs:mt-6 lg:mt-8" data-members-form>
        <input placeholder="Enter your email" data-members-email type="email" required="true" id="email" name="email" class="input input-bordered font-normal pl-[25px] pr-[70px] relative z-10 h-[44px] lg:h-[56px] text-body-sm lg:text-body-base rounded-full bg-newneutral-0 text-newneutral-500 placeholder:text-newneutral-500 border-newneutral-700 w-full" />
        <button aria-label="submit-newsletter-form" name="submit-newsletter-form" class="absolute z-20 right-1 top-1/2 -translate-y-1/2 transition-opacity hover:opacity-90 text-purple-500" type="submit">{{ ArrowRightCircle() }}</button>
    </form>
  </section>
{% endmacro %}
