<!DOCTYPE html>
<html lang="{{ site.lang }}" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <title>
            {%- if title -%}
                {{ title }} – {{ site.title }}
            {%- else -%}
                {{ site.title }} – {{ site.description }}
            {%- endif -%}
        </title>
        <meta name="description" content="{% block description %}{{ site.description }}{% endblock %}">
        <meta name="robots" content="index,follow">
        <meta name="generator" content="Eleventy">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/svg+xml" href="{{ "/images/favicon.svg" | relativePath(page) }}" sizes="any">
        <link rel="icon" href="{{ "/images/favicon.ico" | relativePath(page) }}" sizes="any" />

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:site" content="{{ site.twitter }}">
            <meta name="twitter:creator" content="{{ site.twitter }}">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:url" content="{{ site.url + page.url }}">
            <meta name="twitter:title" content="{{ title + " – " + site.title if title else title }}">
            <meta name="twitter:description" content="{{ site.description }}">
            <meta name="twitter:image" content="{{ site.cover_image }}">

            <!--Schema-->
            <link rel="author" href="{{ site.url }}">
            <link rel="publisher" href="{{ site.url }}">
            <meta itemprop="name" content="{{ title + " – " + site.title if title else title }}">
            <meta itemprop="description" content="{{ site.description }}">
            <meta itemprop="image" content="{{ site.cover_image }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{site.url + page.url}}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title + " – " + site.title if title else title }}">
            <meta property="og:image" content="{{ site.cover_image }}">
            <meta property="og:description" content="{{ site.description }}">
            <meta property="og:site_name" content="{{ site.title }}">
            <meta property="og:locale" content="{{ site.lang }}">
            <meta property="article:author" content="{{ site.url }}">
        {%- endblock -%}

        <link rel="stylesheet" href="{{ "/stylesheet-new.css" | relativePath(page) }}" />
        <script defer data-domain="fission.codes" src="https://s.fission.codes/js/index.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-core.min.js" integrity="sha512-9khQRAUBYEJDCDVP2yw3LRUQvjJ0Pjx0EShmaQjcHa6AXiOv6qHQu9lCAIR8O+/D8FtaCoJ2c0Tf9Xo7hYH01Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-fTl/qcO1VgvKtOMApX2PdZzkziyr2stM65GYPLGuYMnuMm1z2JLJG6XVU7C/mR+E7xBUqCivykuhlzfqxXBXbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        {% block js %}{% endblock %}

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                // Newsletter Submission Handler - ToDo: move this to its own script file
                document.querySelector('.newsletter-form').addEventListener('submit', async (event) => {
                    event.preventDefault();
                    try {
                        const formData = new FormData(event.target)

                        const res = await fetch(
                            'https://api.form-data.com/f/aowqx8bp00phzprfdtxzqu',
                            {
                                method: 'POST',
                                body: JSON.stringify({ email: formData.get('email') }),
                                headers: { 'Content-Type': 'application/json' }
                            }
                        )
                        document.querySelector('.newsletter-form-wrapper').innerHTML = '<p class="input input-bordered font-normal pl-[25px] pr-[70px] relative z-10 h-[66px] leading-[66px] text-[20px] rounded-sm bg-neutral-0 text-neutral-500 border-neutral-700 ">Please check your email!</p>'
                    } catch (error) {
                        console.error(error)
                        document.querySelector('.newsletter-form input[type="email"]').classList.add('input-error')
                    }
                });

                // Overlay Menu - ToDo: move this to its own script file
                const overlayMenu = document.querySelector('.overlay-menu');

                // this function is used to open the menu
                const openOverlayMenu = () => {
                    overlayMenu.classList.remove('w-0', 'h-0', 'opacity-0');
                    overlayMenu.classList.add('w-screen', 'h-screen', 'opacity-100');
                }

                // this function is used to close the menu
                const closeOverlayMenu = () => {
                    overlayMenu.classList.remove('w-screen', 'h-screen', 'opacity-100');
                    overlayMenu.classList.add('w-0', 'h-0', 'opacity-0');
                }

                document.querySelector('.open-menu').addEventListener('click', openOverlayMenu)
                document.querySelector('.close-menu').addEventListener('click', closeOverlayMenu)
            });
        </script>
        <script>document.documentElement.classList.remove('no-js');</script>

        {{ site.codeinjection_head | safe if site.codeinjection_head }}
        {{ codeinjection_head | safe if codeinjection_head }}
    </head>
    <body class="bg-neutral-50 text-base-900 dark:bg-neutral-800 dark:text-base-200">
        {% include "partials/icons.njk" %}
        {% include "partials/overlay-menu.njk" %}
        <div class="viewport">

            <div class="viewport-top">
                {% block header %}
                {% endblock header %}

                <main class="site-main page-wrapper">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>

            <div class="viewport-bottom">
                {% include "partials/footer.njk" %}
            </div>

            {{ site.codeinjection_foot | safe if site.codeinjection_foot }}
            {{ codeinjection_foot | safe if codeinjection_foot }}
        </div>
    </body>
</html>
