{% extends 'layouts/default.njk' %}

{% from "partials/header.njk" import header %}
{% set title = doc.title %}
{% set codeinjection_head = doc.codeinjection_head %}
{% set codeinjection_foot = doc.codeinjection_foot %}



{% block header %}
  {{ header("px-5 sm:px-8", "max-w-2xl") }}
{% endblock %}



{% block content %}
    <div class="overflow-x-hidden px-5 md:px-8">
      <article class="max-w-2xl mb-24 mx-auto">

        {# <div class="mb-8 mt-5">
          <a href="../">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-base-400 dark:text-base-700" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
          </a>
        </div> #}

        <div class="mb-8 mt-5">
          <div class="w-3 h-0 border-t border-base-300 dark:border-base-600"></div>
        </div>

        <header class="post-full-header">
            <h1 class="post-full-title">{{ title }}</h1>
        </header>

        <section class="post-full-content load-external-scripts content-body">
            <div class="post-content sm:text-lg">
                {{ content | safe }}
            </div>
        </section>

      </article>
    </div>
{% endblock %}



{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ doc.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ doc.excerpt }}">
    <meta name="twitter:image" content="{{ doc.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ doc.primary_author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ doc.excerpt }}">
    <meta itemprop="image" content="{{ doc.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ doc.feature_image }}">
    <meta property="og:description" content="{{ doc.excerpt }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
