{% extends 'layouts/default.njk' %}

{% from "macros/header.njk" import header with context %}
{% from "macros/icons/ArrowLeft.njk" import ArrowLeft %}
{% set title = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block content %}
    <div class="inner overflow-x-hidden px-8">

        <article class="post-full post max-w-3xl mb-24 mx-auto">

            <div class="mb-8 mt-5">
              <a href="../" class="flex gap-2 items-center link link-hover text-newpurple-500 dark:text-newpurple-200 text-body-base md:text-body-lg">{{ ArrowLeft() }} Whole ecosystem</a>
            </div>

            <header class="post-full-header">
                <h1 class="post-full-title">{{ title }}</h1>
            </header>

            <figure class="post-full-image lg:-mx-20">
                {# <img
                    src="{{ post.feature_image }}"
                    alt="{{ title }}"
                    width="{{ post.feature_image_width }}"
                    height="{{ post.feature_image_height }}"
                    class="rounded-md w-full"
                    data-page-url="{{ page.url }}"
                    loading="lazy" decoding="async"
                /> #}
            </figure>

            <section class="post-full-content load-external-scripts content-body">
                <div class="post-content sm:text-lg">
                    {{ content | safe }}
                </div>
            </section>
        </article>

    </div>
{% endblock %}

{# {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ post.excerpt }}">
    <meta name="twitter:image" content="{{ post.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ post.primary_author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ post.excerpt }}">
    <meta itemprop="image" content="{{ post.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ post.feature_image }}">
    <meta property="og:description" content="{{ post.excerpt }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%} #}
