@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import fonts */
@font-face {
  font-family: 'PPFragment';
  src: url('./fonts/PPFragment-SansVariable.woff2') format('woff2'),
        url('./fonts/PPFragment-SansVariable.woff') format('woff');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPFragment';
  src: url('./fonts/PPFragment-SansVariable.woff2') format('woff2'),
        url('./fonts/PPFragment-SansVariable.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPFragment';
  src: url('./fonts/PPFragment-SansVariable.woff2') format('woff2'),
        url('./fonts/PPFragment-SansVariable.woff') format('woff');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UncutSans';
  src: url('./fonts/Uncut-Sans-Variable.woff2') format('woff2'),
        url('./fonts/Uncut-Sans-Variable.woff') format('woff');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UncutSans';
  src: url('./fonts/Uncut-Sans-Variable.woff2') format('woff2'),
        url('./fonts/Uncut-Sans-Variable.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  @apply w-full;
}

body {
  text-rendering: geometricPrecision;
  @apply font-sans text-body-base;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display;
}

h1 {
  font-weight: 550;
}

h2, h3 {
  font-weight: 500;
}

h4, h5, h6 {
  font-weight: 450;
}

/**
 * Buttons
 */

.btn {
  @apply normal-case;
}

/**
 * Blog & Pages
 */

article header h1,
article section h1,
article section h2,
article section h3,
article section h4,
article section h5,
article section h6
{
  @apply text-neutral-600 dark:text-neutral-100;
}
article header h1 {
  @apply leading-[1.125] mb-16 text-xl sm:text-3xl;
  font-weight: 550;
}

article section h1 {
  @apply mb-12 mt-20 text-3xl;
  font-weight: 550;
}

article section h2 {
  @apply mt-16 text-lg sm:text-2xl;
}

article section h3 {
  @apply mt-10 text-base sm:text-xl;
}

article section h4,
article section h5,
article section h6 {
  @apply mt-8;
}

article section blockquote,
article section figure,
article section hr,
article section p,
article section pre,
article section ol,
article section ul,
article section video {
  @apply mt-8;
}

article section p {
  @apply mb-8 text-body-lg;
}

article section h2 + p,
article section h3 + p,
article section h4 + p,
article section h5 + p,
article section h6 + p {
  @apply mt-5;
}

article section figcaption {
  @apply mt-3 text-base-500 text-sm;
}

article section hr {
  @apply border-base-100 dark:border-base-800;
}

article section a {
  @apply text-purple underline dark:text-purple-tint;
  text-underline-offset: 2px;
}

article section ol,
article section ul {
  @apply md:ml-6;
}

article section ol li,
article section ul li {
  @apply mb-2;
}

article section ul li::before {
  @apply mr-3;
  content: "•";
  display: inline-block;
  opacity: 0.25;
}

article section ol {
  counter-reset: ordered-list;
}

article section ol li {
  counter-increment: ordered-list;
}

article section ol li::before {
  @apply mr-3;
  content: counter(ordered-list) ".";
  display: inline-block;
  opacity: 0.25;
}

article section :not(pre) > code {
  @apply px-1 py-0 rounded break-all;
  background: #2d2d2d;
  font-size: 0.85em;
  color: #cccccc;
}

article section blockquote {
  @apply italic text-xl;
}

article section iframe {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
}

article.post section img,
article.post section iframe,
article.post section video {
  @apply rounded-md shadow-md;
}

article section iframe[src*="twitter.com/"] {
  @apply shadow-none;
}

/**
 * Blog (legacy)
 */

article .kg-gallery-image {
  @apply mt-4;
}

/**
 * Discourse blog comments
 */

.discourse-comments {
  @apply mt-10;
}

.discourse-comments iframe {
  @apply p-6;
}

.relevant-to-this-human {
  border: 10px solid red;
}

/**
 * Prism(code block styles)
 */

code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}
