---

---
{% extends 'layouts/default.njk' %}

{% from "partials/card.njk" import card with context %}
{% from "macros/header.njk" import header with context %}
{% from "macros/fission-logo.njk" import fissionLogo with context %}
{% from "macros/icons/DiscordSmallFill.njk" import DiscordSmallFill %}
{% from "macros/icons/EcosystemIllustration.njk" import EcosystemIllustration %}
{% from "macros/icons/ExternalLink.njk" import ExternalLink %}
{% from "partials/project-card.njk" import projectCard with context %}

{% set postslist = collections.posts | limit(3) %}
{% set title = "The future of identity, data, and compute" %}

{% block header %}
  {{ header(false) }}
  {% include "partials/preferences-logic.njk" %}
{% endblock %}

{% block content %}
<div aria-label="homepage">

    <section 
        aria-label="hero" 
        class="
            mx-auto flex flex-col lg:grid grid-cols-12 items-center max-w-screen-xl auto-rows-max 
            gap-4 px-5 lg:px-0 mt-24 mb-8 lg:mt-20 lg:mb-20
        ">
        <div class="col-span-6 flex items-center justify-center mb-12 lg:mb-0">
            <figure alt="Fission Symbol" class="max-w-[33vw] lg:max-w-[206px] select-none homepage-link">
                {{ fissionLogo(true) }}
            </figure>
        </div>
        <h2 class="text-center lg:text-left col-start-7 col-span-6 text-purple-500 text-heading-sm sm:text-heading-lg xl:text-heading-xl font-display sm:p-6">
            We build <span class="text-pink-500">identity</span>, <span class="text-pink-500">data</span>, and <span class="text-pink-500">compute</span> solutions for the future of the Internet.
        </h2>
        <h1 class="sr-only">Fission: We build identity, data, and compute protocols for the future of the Internet.</h1>
    </section>

    <section class="w-full px-2 mb-16">
        <section class="mx-auto overflow-hidden max-w-screen-xl rounded-sm bg-newneutral-0 items-center" style="background-color: #e1e2ea;">
            <header class="p-2 md:p-4 bg-newneutral-700 text-newneutral-0 text-center">
                <h2 class="text-heading-xs md:text-heading-base">
                    Currently Working On
                </h2>
            </header>
            <div class="mx-auto flex flex-col gap-12 items-center max-w-3xl p-8 lg:p-16">
                <a href="https://everywhere.computer/">
                    <div class="ec-logo">
                        <img class="ec-logo-bg" src="{{ "/images/ec-logo-bg.svg" | relativePath(page) }}" />
                        <div class="ec-logo-mg"></div>
                        <img class="ec-logo-fg" src="{{ "/images/ec-logo-fg.svg" | relativePath(page) }}" />
                    </div>
                </a>
            </div>
        </section>
    </section>

    <section aria-label="body" class="w-full flex flex-col justify-center">
        <section aria-label="values" class="mx-auto max-w-screen-xl grid grid-cols-12 px-7 xlpadded:px-10">
            <div class="col-span-12 xl:col-start-2 xl:col-span-10 flex flex-col md:flex-row gap-7 mb-24 text-body-base">
                <div class="flex flex-col gap-7 basis-1/2">
                    <div class="flex flex-col gap-3">
                        <h2 class="text-purple-500 text-heading-xs md:text-heading-base uppercase">We simplify the complex</h2>
                        <p>Fission handles the technical details so you can bring your ideas to life.</p>
                        <p>Encryption, authorization, data management, orchestration..backend infrastructure can be messy and complicated. We won't let that hold you back from building impactful software that positively impacts your community.</p>
                    </div>
                    <div class="flex flex-col gap-3">
                        <h2 class="text-purple-500 text-heading-xs md:text-heading-base uppercase">We’re ecosystem obsessed</h2>
                        <p>Fission supports the development of humane, local-first software through research, development, collaboration, and funding.</p>
                        <p>Improving underlying protocols and methods is necessary to ensure their scalability and ease of use in the future.</p>
                    </div>
                </div>
                <div class="flex flex-col gap-7 basis-1/2">
                    <div class="flex flex-col gap-3">
                        <h2 class="text-purple-500 text-heading-xs md:text-heading-base uppercase">We deeply value open source</h2>
                        <p>Fission’s tools are all open source. We love seeing our inventions power some of the most exciting applications out there. Capyloon, Noosphere, Functionland, Koii, and many others have integrated UCAN and/or WNFS into their infrastructures.</p>
                        <p>We also support open source projects as both a financial contributor and a fiscal host on Open Collective.</p>
                    </div>
                    <div class="flex flex-col gap-3">
                        <h2 class="text-purple-500 text-heading-xs md:text-heading-base uppercase">We learn and build in public</h2>
                        <p>Fission hosts virtual community calls, sponsors DWeb Hacker Bases and events at conferences all over the world, and assembles great minds together at our own Future of Computing conference, Causal Islands.</p>
                    </div>
                </div>
            </div>
        </section>

    {% include "partials/supporters.njk" %}
       
    </div>
</div>
{% endblock %}
