---
permalink: /causalislands/podcast.xml
eleventyExcludeFromCollections: true
date: Last Modified
---
<rss
    version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
    xmlns:rawvoice="http://www.rawvoice.com/rawvoiceRssModule/"
    xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"
>
    <channel>
        <title>{{ collections.causalIslandsTag.name }}</title>
        <link>https://fission.codes/causalislands/podcast.xml</link>
        <description>{{ collections.causalIslandsTag.description }}</description>
        <language>en</language>
        <copyright>Causal Islands (Fission Software) Copyright {{ fullYear() }}</copyright>
        <atom:link href="https://fission.codes/causalislands/podcast.xml" rel="self" type="application/rss+xml" />
        <lastBuildDate>{{ lastBuildDate() }}</lastBuildDate>
        <itunes:author>Causal Islands</itunes:author>
        <itunes:summary>{{ collections.causalIslandsTag.description }}
        </itunes:summary>
        <itunes:owner>
            <itunes:name>Causal Islands</itunes:name>
            <itunes:email>connect@causalislands.com</itunes:email>
        </itunes:owner>
        <itunes:explicit>clean</itunes:explicit>
        <itunes:image href="{{ collections.causalIslandsTag.feature_image }}"/>
        <itunes:category text="Technology"></itunes:category>
        {% for podcast in collections.podcasts %}
            <item>
                <title>{{ podcast.title }}</title>
                <link>{{ site.url + podcast.url }}</link>
                <pubDate>{{ podcast.updated_at }}</pubDate>
                <guid isPermaLink="false">{{ site.url + podcast.url }}</guid>
                <category><![CDATA[ {{ podcast.primary_tag.name }} ]]></category>
                <description>{{ podcast.custom_excerpt }}</description>
                <content:encoded><![CDATA[ {{ podcast.html | htmlToAbsoluteUrls(site.url + page.url) }}} ]]></content:encoded>
                <enclosure url="{{ podcast.og_description }}" length="0" type="audio/mpeg"/>
                {# COMMENTING OUT: <itunes:subtitle>{{ podcast.custom_excerpt }}</itunes:subtitle> #}
                <itunes:summary><![CDATA[ {{ podcast.html | htmlToAbsoluteUrls(site.url + page.url) }} ]]></itunes:summary>
            </item>
        {% endfor %}
    </channel>
</rss>
{# Syntax sourced from Ghost details here https://ghost.org/tutorials/custom-rss-feed/ #}