---
permalink: '_redirects'
---

/discord    https://discord.gg/daDMAjE  301

/.well-known/matrix/server  https://matrix.fission.codes/.well-known/matrix/server  302
/.well-known/matrix/client  https://matrix.fission.codes/.well-known/matrix/client  302

# Netlify flavoured redirects file, edit with your domain
# https://www.netlify.com/docs/redirects/
