{% macro card(post) %}

<div class="relative col-span-12 mb-10 md:col-span-6 lg:col-span-4">
    <a href="{{ ["/blog", post.url] | join | relativePath(page) }}" class="relative block w-full h-64 mb-6 overflow-hidden rounded-sm">
        <img class="object-cover object-center w-full h-full transition duration-500 ease-out transform scale-100 hover:scale-105" src="{{ post.feature_image }}" alt="{{ post.title }}" data-page-url="{{ page.url }}">
    </a>
    {# <p class="text-xs font-bold text-gray-400 uppercase">{% if post.tags %}{% for tag in post.tags %}{{ tag.name }} {% endfor %}{% endif %}</p> #}
    <a href="{{ ["/blog", post.url] | join | relativePath(page) }}" class="block text-lg font-display text-newpurple-500 dark:text-newpurple-200 leading-tight mb-2">{{ post.title }}</a>
    <div class="post-card-excerpt text-neutral-800 dark:text-neutral-100">
        <p>{{ post.excerpt }}</p>
    </div>
</div>
{% endmacro %}
