{% from "macros/icons/GithubOutline.njk" import GithubOutline %}
{% from "macros/icons/TwitterOutline.njk" import TwitterOutline %}
{% from "macros/icons/MastodonOutline.njk" import MastodonOutline %}
{% from "macros/icons/DiscordOutline.njk" import DiscordOutline %}
{% from "macros/icons/LinkedinOutline.njk" import LinkedinOutline %}
{% from "macros/icons/DiscordBigFill.njk" import DiscordBigFill %}
{% from "macros/icons/ExternalLink.njk" import ExternalLink %}
{% from "macros/NewsletterForm.njk" import NewsletterForm %}

<!-- Newsletter -->
{{ NewsletterForm() }}

<!-- Footer -->
<section class="bg-neutral-100 dark:bg-neutral-900">
    <div class="py-12 px-8 md:pt-20 md:pb-[62px] lg:px-0 mx-auto max-w-5xl">
        <div class="flex flex-col md:flex-row-reverse w-full gap-10 mb-10 md:mb-20">
            <div class="flex flex-col gap-4 w-full text-center md:text-left">
                <h5 class="text-lg font-[450]">Looking to Get Involved?</h5>
                <a href="https://fission.codes/discord" target="_blank" class="btn btn-primary h-[69px] font-normal items-center gap-2 w-full sm:max-w-fit bg-newpurple-500 text-neutral-0 text-base rounded">
                    Join Our Discord {{ DiscordBigFill() }}
                </a>
                <a href="{{ "/careers" | relativePath(page) }}" target="_blank" class="btn btn-outline h-[69px] font-normal items-center gap-2 w-full sm:max-w-fit text-neutral-700 dark:text-neutral-300 text-base rounded border-neutral-700 dark:border-neutral-300 border">
                    Careers At Fission {{ ExternalLink() }}
                </a>
                <a href="https://lu.ma/fission-online-events" target="_blank" class="btn btn-outline h-[69px] font-normal items-center gap-2 w-full sm:max-w-fit text-neutral-700 dark:text-neutral-300 text-base rounded border-neutral-700 dark:border-neutral-300 border">
                    Attend Fission Events {{ ExternalLink() }}
                </a>
            </div>

            <div class="flex flex-col w-full gap-10">
                <div class="flex flex-col gap-4 w-full text-center md:text-left">
                    <h5 class="text-lg font-[450]">Want to Learn More?</h5>
                    <a href="{{ "/blog" | relativePath(page) }}" class="link link-hover text-newpurple-500 dark:text-newpurple-300">Read Our Blog</a>
                    <a href="https://talk.fission.codes/" target="_blank" class="link link-hover text-newpurple-500 dark:text-newpurple-300">Dive Deeper on Discourse</a>
                </div>

                <div class="flex flex-col gap-4 w-full text-center md:text-left">
                    <h5 class="text-lg font-[450]">Other Helpful Links</h5>
                    <a href="https://talk.fission.codes/t/fission-branding/244" target="_blank" class="link link-hover text-newpurple-500 dark:text-newpurple-300">Logos & Brand Guidelines</a>
                    <a href="https://shop.fission.codes/" target="_blank" class="link link-hover text-newpurple-500 dark:text-newpurple-300">Shop Fission's Swag</a>
                </div>
            </div>
        </div>

        <div class="w-full">
            <div class="flex flex-col md:flex-row items-center gap-[54px] md:gap-0 md:justify-between mb-4 md:mb-[46px]">
                <div>
                    <img src="{{ "/images/fission-footer-light.png" | relativePath(page) }}" class="inline-block dark:hidden" alt="Fission" />
                    <img src="{{ "/images/fission-footer-dark.png" | relativePath(page) }}" class="hidden dark:inline-block" alt="Fission" />
                </div>

                <div class="flex gap-4 items-center text-neutral-500 dark:text-neutral-200">
                    <a href="https://github.com/fission-codes/" target="_blank" class="transition-opacity hover:opacity-80">{{ GithubOutline() }}</a>
                    <a href="https://twitter.com/FISSIONcodes" target="_blank" class="transition-opacity hover:opacity-80">{{ TwitterOutline() }}</a>
                    <a href="https://mastodon.online/@fission@plnetwork.xyz" target="_blank" class="transition-opacity hover:opacity-80">{{ MastodonOutline() }}</a>
                    <a href="https://fission.codes/discord/" target="_blank" class="transition-opacity hover:opacity-80">{{ DiscordOutline() }}</a>
                    <a href="https://ca.linkedin.com/company/fissioncodes" target="_blank" class="transition-opacity hover:opacity-80">{{ LinkedinOutline() }}</a>
                </div>
            </div>

            <p class="text-body-sm md:text-[20px] text-neutral-500 text-center">© {{ copyrightDate() }} Fission</p>
        </div>
    </div>
</section>
