{% from "partials/icon.njk" import icon %}

{% macro header(classesOuter="px-5", classesInner="max-w-7xl") %}
<section class="relative w-full body-font md:px-8 {{ classesOuter }}">
    <div class="container flex flex-col flex-wrap items-center justify-between py-10 mx-auto md:flex-row {{ classesInner }} md:py-6">
        <a href="/" class="relative z-10 flex items-center mb-5 w-auto text-2xl font-display font-extrabold leading-none select-none md:mb-0">
          <img src="/images/kit/logo-dark-colored.svg" class="w-40 inline-block dark:hidden" alt="Fission" />
          <img src="/images/kit/logo-light-colored.svg" class="w-40 hidden dark:inline-block" alt="Fission" />
        </a>

        <div class="relative z-10 inline-flex items-center space-x-2 md:space-x-3 md:ml-5 lg:justify-end">
            <a href="https://dashboard.fission.codes" class="inline-flex items-center justify-center px-3 py-1 text-sm font-medium leading-6 whitespace-no-wrap bg-transparent border-2 border-base-400 border-opacity-40 rounded-md text-base-400 dark:border-base-400 dark:text-base-400 dark:border-opacity-40 lg:text-base lg:px-4 lg:py-2">Dashboard</a>
            <a href="https://auth.fission.codes?signup" class="inline-flex items-center justify-center px-3 py-1 text-sm font-medium leading-6 text-white whitespace-no-wrap bg-pink border-2 border-transparent rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple lg:text-base lg:px-4 lg:py-2">Sign up</a>
        </div>
    </div>
</section>
{% endmacro %}
