{% from "macros/icons/ArrowLeftCircle.njk" import ArrowLeftCircle %}
{% from "macros/icons/ArrowRightCircle.njk" import ArrowRightCircle %}

{% if pagination.previousPageHref or pagination.nextPageHref %}
    <nav class="pagination mb-12 flex justify-center" role="pagination">
        <ol class="flex items-center justify-center px-5 py-4 space-x-6 text-base text-purple-500">

            {#  #}
            {% if page.url != pagination.href.first %}
              <li><a href="{{ pagination.href.first | relativePath(page) }}">
            {% else %}
              <li class="flex gap-2 items-center">
            {% endif %}
              First
            {% if page.url != pagination.href.first %}
              </a></li>
            {% else %}
              </li>
            {% endif %}

            {#  #}
            {% if pagination.href.previous %}
              <li><a href="{{ pagination.href.previous | relativePath(page) }}">
            {% else %}
              <li>
            {% endif %}
              {{ ArrowLeftCircle() }}
            {% if pagination.href.previous %}
              </a></li>
            {% else %}
              </li>
            {% endif %}

            {#  #}
            {% if pagination.href.next %}
              <li><a href="{{ pagination.href.next | relativePath(page) }}">
            {% else %}
              <li>
            {% endif %}
              {{ ArrowRightCircle() }}
            {% if pagination.href.next %}
              </a></li>
            {% else %}
              </li>
            {% endif %}

            {#  #}
            {% if page.url != pagination.href.last %}
              <li><a href="{{ pagination.href.last | relativePath(page) }}">
            {% else %}
              <li class="flex gap-2 items-center">
            {% endif %}
              Last
            {% if page.url != pagination.href.last %}
              </a></li>
            {% else %}
              </li>
            {% endif %}

        </ol>
    </nav>
{% endif %}
