<section class="w-full px-2">
    <section class="mx-auto overflow-hidden max-w-screen-xl rounded-sm bg-newneutral-0 items-center">
        <header class="p-2 md:p-4 bg-newneutral-700 text-newneutral-0 text-center">
            <h2 class="text-heading-xs md:text-heading-base">
                Proudly Supported By
            </h2>
        </header>
        <div class="mx-auto flex flex-wrap justify-center max-w-3xl p-6 lg:p-12">
            <div class="flex flex-wrap justify-center gap-4">
                <a 
                    aria-label="Navigate to Blueyard" 
                    target="_blank" 
                    href="https://www.blueyard.com/" 
                    class="flex bg-newneutral-100 justify-center items-center w-20 h-20 lg:w-36 lg:h-36">
                    Blueyard
                </a>
                <a 
                    aria-label="Navigate to Blueyard" 
                    target="_blank" 
                    href="https://www.blueyard.com/" 
                    class="flex bg-newneutral-100 justify-center items-center w-20 h-20 lg:w-36 lg:h-36">
                    Protocol Labs
                </a>
                <a 
                    aria-label="Navigate to Blueyard" 
                    target="_blank" 
                    href="https://www.blueyard.com/" 
                    class="flex bg-newneutral-100 justify-center items-center w-20 h-20 lg:w-36 lg:h-36">
                    Figment
                </a>
                <a 
                    aria-label="Navigate to Blueyard" 
                    target="_blank" 
                    href="https://www.blueyard.com/" 
                    class="flex bg-newneutral-100 justify-center items-center w-20 h-20 lg:w-36 lg:h-36">
                    Fenbushi Capital
                </a>
                <a 
                    aria-label="Navigate to Blueyard" 
                    target="_blank" 
                    href="https://www.blueyard.com/" 
                    class="flex bg-newneutral-100 justify-center items-center w-20 h-20 lg:w-36 lg:h-36">
                    Samsung Next
                </a>
                <span class="flex bg-newneutral-100 justify-center items-center text-center w-20 h-20 lg:w-36 lg:h-36">
                    Lanebury Growth Capital
                </span>
                <span class="flex bg-newneutral-100 justify-center items-center text-center w-20 h-20 lg:w-36 lg:h-36">
                    Avocado Capital
                </span>
            </div>
            <div class="pt-4">
                ...and more supporters on <a class="link" aria-label="Navigate to Open Collective" target="_blank" href="https://opencollective.com/fission">
                    Open Collective
                </a>
            </div>
        </div>
    </section>
</section>