<section class="w-full px-2">
    <section class="mx-auto overflow-hidden max-w-screen-xl rounded-sm bg-newneutral-0 items-center">
        <header class="p-2 md:p-4 bg-newneutral-700 text-newneutral-0 text-center">
            <h2 class="text-heading-xs md:text-heading-base">
                Proudly Supported By
            </h2>
        </header>
        <div class="mx-auto flex flex-col gap-12 items-center max-w-3xl p-8 lg:p-16">
            <div class="flex flex-wrap justify-center gap-12">
                <a 
                    aria-label="Navigate to Blueyard" 
                    target="_blank" 
                    href="https://www.blueyard.com/" 
                    class="flex justify-center items-center w-32">
                    <img src="{{ "/images/supporters/Blueyard.svg" | relativePath(page) }}" alt="Blueyard" />
                </a>
                <a 
                    aria-label="Navigate to Protocol Labs" 
                    target="_blank" 
                    href="https://www.protocol.ai/" 
                    class="flex justify-center items-center w-76">
                    <img src="{{ "/images/supporters/protocol-labs.svg" | relativePath(page) }}" alt="Protocol Labs" />
                </a>
                <a 
                    aria-label="Navigate to Figment" 
                    target="_blank" 
                    href="https://www.figmentcapital.io/" 
                    class="flex justify-center items-center w-40">
                    <img src="{{ "/images/supporters/Figment.png" | relativePath(page) }}" alt="Figment" />
                </a>
                <a 
                    aria-label="Navigate to Fenbushi Capital" 
                    target="_blank" 
                    href="https://www.fenbushicapital.vc" 
                    class="flex justify-center items-center w-64">
                    <img src="{{ "/images/supporters/fenbushi_capital.png" | relativePath(page) }}" alt="Fenbushi Capital" />
                </a>
                <a 
                    aria-label="Navigate to Samsung Next" 
                    target="_blank" 
                    href="https://www.samsungnext.com/" 
                    class="flex justify-center items-center w-32">
                    <img src="{{ "/images/supporters/samsung-next.png" | relativePath(page) }}" alt="Samsung Next" />
                </a>
            </div>
            <div class="flex flex-wrap justify-center gap-8">
                <span class="flex font-display text-heading-xs font-semibold bg-newneutral-100 text-newneutral-600 justify-center items-center text-center w-40 h-20 rounded-lg p-4">
                    Lanebury Growth Capital
                </span>
                <span class="flex font-display text-heading-xs font-semibold bg-newneutral-100 text-newneutral-600 justify-center items-center text-center w-40 h-20 rounded-lg p-4">
                    Avocado Capital
                </span>
            </div>
            <div class="pt-4">
                ...and more supporters on <a class="link" aria-label="Navigate to Open Collective" target="_blank" href="https://opencollective.com/fission">
                    Open Collective
                </a>
            </div>
        </div>
    </section>
</section>